@model Resume

<div id="professional-experience" class="d-flex flex-column justify-content-center mt-4">
    <div class="d-flex flex-column">
        <h4>Experiência Profissional</h4>
        <div class="border-bottom border-secondary w-100"></div>
    </div>
    <div class="d-flex flex-column">
        @foreach (var proExp in @Model.ProfessionalExperiences)
        {
            <div class="mt-2">
                <span class="font-weight-bold">Cargo:</span>
                <span>@proExp.Job</span>
            </div>
            <div class="mt-2">
                <span class="font-weight-bold">Empresa:</span>
                <span>@proExp.CompanyName</span>
            </div>
            <div class="mt-2">
                <span class="font-weight-bold">Início:</span>
                <span>@proExp.StartedAt.ToString("MM/yyyy")</span>
            </div>
            <div class="mt-2">
                <span class="font-weight-bold">Término:</span>
                <span>@proExp.EndedAt.ToString("MM/yyyy")</span>
            </div>
            <div class="mt-2">
                <span class="font-weight-bold">Descrição:</span>
                <span>@proExp.Description</span>
            </div>
        }
    </div>
</div>